*,
:root {
    color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --primary: #000;
    --secondary: #fff;
    --third: #b8b8b8;
}

body {
    background-color: #000;
    padding-bottom: 1000px;
}

main {
    background-color: var(--primary);
}

::-webkit-scrollbar {
    display: none;
}

nav {
    background-color: var(--primary);
    font-family: roboto;
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 0.8rem;
}

.navbar-nav i {
    font-size: 2rem;
}

.container-content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
}

.container-content1 h1 {
    position: absolute;
    bottom: 27rem;
    color: var(--third);
    font-size: 2rem;
    font-family: arial;
    /* z-index: 2; */
}


.container-content1 img {
    width: 75rem;
    height: 25rem;
}

.buy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.buy-button button {
    background-color: rgb(29, 139, 207);
    width: 5rem;
    height: 2.5rem;
    border: 1px;
    border-radius: 80px;
}

.buy-button button a {
    color: var(--secondary);
    text-decoration: none;
    font: arial;
    font-size: 1rem;
}

.content2-h1 {
    font-size: 2rem;
}

.container-content2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* figure 1 */

.figure-1 {
    display: inline-block;
    position: relative;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
}

.figure-1 .image1 {
    position: absolute;
    right: 1rem;
    z-index: 1;
    width: 23rem;
    height: auto;
}

.figure-1 .image2 {
    position: absolute;
    top: 1rem;
    z-index: 2;
    width: 23rem;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 2rem;
    font-family: roboto;
    z-index: 3;
}

.text {
    color: white;
    text-shadow: 
        -2px -2px 0 #000,  
        2px -2px 0 #000,  
        -2px 2px 0 #000,  
        2px 2px 0 #000;
}

.figure-1:hover .overlay {
    opacity: 1;
}

.overlay > .text {
    text-decoration: none;
}

.figure-1:hover .image1 {
    cursor: pointer;
    filter: blur(5px);
}

.figure-1:hover .image2 {
    cursor: pointer;
    filter: blur(5px);
}

/* figure 2 */

.figure-2 {
    display: inline-block;
    position: relative;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
}

.figure-2 .image1 {
    position: absolute;
    right: 1rem;
    z-index: 1;
    width: 23rem;
    height: auto;
}

.figure-2 .image2 {
    position: absolute;
    top: 1rem;
    z-index: 2;
    width: 23rem;
    height: auto;
}

.figure-2:hover .overlay {
    opacity: 1;
}

.figure-2:hover .image1 {
    cursor: pointer;
    filter: blur(5px);
}

.figure-2:hover .image2 {
    cursor: pointer;
    filter: blur(5px);
}

/* figure 3 */

.figure-3 {
    display: inline-block;
    position: relative;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
}

.figure-3 .image1 {
    position: absolute;
    right: 1rem;
    z-index: 1;
    width: 23rem;
    height: auto;
}

.figure-3 .image2 {
    position: absolute;
    top: 1rem;
    z-index: 2;
    width: 23rem;
    height: auto;
}

.figure-3:hover .overlay {
    opacity: 1;
}

.figure-3:hover .image1 {
    cursor: pointer;
    filter: blur(5px);
}

.figure-3:hover .image2 {
    cursor: pointer;
    filter: blur(5px);
}

/* figure 4 */

.figure-4 {
    display: inline-block;
    position: relative;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
}

.figure-4 .image1 {
    position: absolute;
    right: 1rem;
    z-index: 1;
    width: 23rem;
    height: auto;
}

.figure-4 .image2 {
    position: absolute;
    top: 1rem;
    z-index: 2;
    width: 23rem;
    height: auto;
}

.figure-4:hover .overlay {
    opacity: 1;
}

.figure-4:hover .image1 {
    cursor: pointer;
    filter: blur(5px);
}

.figure-4:hover .image2 {
    cursor: pointer;
    filter: blur(5px);
}